<h1>아침햇살</h1>
<nav>
    <a href="./07_teamproj_index.html">홈</a>
    <a href="./07_teamproj_submenu.html">메뉴</a>
    <a href="./07_teamproj_findstore.html">매장 찾기</a>
    <a href="./07_teamproj_dlivery.html">배송현황</a>
    <a href="./07_teamproj_order_tracking.html">주문조회</a>
    <a href="./07_teamproj_login.html">로그인</a>
    <a href="./07_teamproj_join_page.html">회원 가입</a>
    <a href="./07_teamproj_board.html" class="active">자유 게시판</a>
    <span class="cart-icon">장바구니🛒<span class="cart-count">0</span></span>
</nav>